{% extends "layouts/layout1.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block title %}
    Ostatni tydzień
{% endblock %}
{% block content %}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
            <section id="content">
					<center><table border="6">
							<tr>
								<th><center><font size="5">Data meczu</font></center></th>
								<th><center><font size="5">Gospodarze</font></center></th>
								<th><center><font size="5">Wynik gospodarze</font></center></th>
								<th><center><font size="5">Wynik goście</font></center></th>
								<th><center><font size="5">Goście</font></center></th>
							</tr>
						{%for item in items:%}
							<tr>						
								<th><font size="4"><center>{% if item.match_date != None %}{{ item.match_date }}{% else %} 0 {% endif %}</font></center></th>
								<th><font size="4"><center>{% if item.team_home_name != None %}{{ item.team_home_name }}{% else %} 0 {% endif %}</font></center></th>
								<th><font size="4"><center>{% if item.score_home != None %}{{ item.score_home }}{% else %} 0 {% endif %}</font></center></th>
								<th><font size="4"><center>{% if item.score_away != None %}{{ item.score_away }}{% else %} 0 {% endif %}</font></center></th>
								<th><font size="4"><center>{% if item.team_away_name != None %}{{ item.team_away_name }}{% else %} 0 {% endif %}</font></center></th>
													
							</tr>
						{%endfor%}
					</table></center>
            </section>
			</div>
{% endblock %}